.container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.container__block{
    border: 1px solid black;
    width: 350px;
    height: 290px;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
}

.container__block_btn {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

#task3 {
    background-color: aqua;
}